<ion-header>
  <div><img src="assets/img/search_bar.png" /></div>
 
  <!--
  <ion-slides pager>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
  </ion-slides>
  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>
  -->
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let space of currentSpaces">
      <button ion-item (click)="openSpace(space)">
          <img [src]="space.photo" />
          <p align='center'>
            <b>{{space.name}}</b><br>
            <small>Available though <b>11/11</b><br>from <b>$50</b></small>
          </p>
          <!--
          <ion-avatar item-start>
            <img [src]="space.photo" />
          </ion-avatar>
          <h2>{{space.name}}</h2>
          <p>{{space.description}}</p>
          <ion-note item-end *ngIf="space.description">{{space.description}}</ion-note>
          -->
      </button>
      <!--
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
      -->
    </ion-item-sliding>
  </ion-list>
</ion-content>
