<ion-header>
  <ion-slides>
  <!-- <ion-slides pager> -->
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
    <ion-slide><img src="../../assets/img/banner_old.png" class="slide-image" /></ion-slide>
  </ion-slides>
  <!--
  <ion-navbar>
    <ion-title>
    </ion-title>
  </ion-navbar>
  -->
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let musician of currentMusicians">
      <button ion-item (click)="openMusician(musician)">
        <ion-avatar item-start>
          <img [src]="musician.photo" />
        </ion-avatar>
        <h2>{{musician.name}}</h2>
        <p>{{musician.description}}</p>
        <ion-note item-end *ngIf="musician.description">{{musician.description}}</ion-note>
      </button>
      <!--
      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
      -->
    </ion-item-sliding>
  </ion-list>
</ion-content>
